div.calculator {
    border-bottom: 3px;
}

div#mortgageOutput p {
    margin: 0px;
}

div#original {
    display: none;
}

p.muted {
    color: grey;
    font-style: italic;
}

.valueInput {
    margin-bottom: 4px;
}

#adminButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
