div.contents {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-bottom: 10px;
}

.contents-link {
    padding-bottom: 7px;
}

#adminButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
